---
layout: default
title: 52 Papers
body_id: homepage
---

<div class="stripe">
  <div class="container">
    <div class="hero">
      <p>52 Papers helps teachers engage with <br class="phones-only" /> research in education.</p>
      <p class="white">One paper per week. Summarised. <br class="phones-only" /> In your inbox.</p>
      <ul class="inline-list">
        <li><i class="fas fa-angle-double-right left-icon"></i> <a href="/about">About 52 Papers</a></li>
        <li><i class="fas fa-angle-double-right left-icon"></i> <a href="/subscribe">Subscribe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <section class="all-posts" id="all">

    {% for post in site.posts  %}
      <div class="paper-wrapper">
        <div class="paper-meta">
          <h3>YEAR {{ post.yearnum }} &nbsp;&nbsp;//&nbsp;&nbsp; WEEK {{ post.week }}</h3>
          {% include tagsloop.html %}
          <p class="small"><i class="far fa-clock left-icon"></i> {{ post.readingtime }} minute read</p>
        </div>

        <div class="paper-content">
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="subheading">{{ post.paperauthors | join: ", " }} [{{ post.yearpub }}]</p>
          <p>{{ post.description }}</p>
          <p class="postlink"><i class="fas fa-angle-double-right left-icon"></i> <a href="{{ post.url }}">Read summary</a> </p>
        </div>

      </div>
    {% endfor %}

  </section>

</div>
