---
layout: default
title: 52 Papers
body_id: homepage
---

<div class="stripe">
  <div class="container">
    <div class="hero">
      <p>52 Papers helps teachers engage with <br class="phones-only" /> research in education.</p>
      <p class="white">Research in education. Summarised. <br class="phones-only" /> In your inbox.</p>
      <ul class="inline-list">
        <li><i class="fas fa-angle-double-right left-icon"></i> <a href="/about">About 52 Papers</a></li>
        <li><i class="fas fa-angle-double-right left-icon"></i> <a href="/subscribe">Subscribe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <section>

    <div class="post-list-header">
      <h2>All Summaries <a class="title-tag" href="#tags">Filter</a></h2>
      <p>Updated: {{ "now" | date: "%d %b %Y" }}</p>
    </div>
    <div class="main-posts-list">
      {% for post in site.posts %}

        {% include postrow.html %}

      {% endfor %}
    </div>

  </section>

</div>

<div class="container" id="tags">

  <section>

    <h3>All Tags</h3>

    <hr />

    <ul class="inline-list tags-list" style="max-width: 100%;">

      {% capture tags %}
        {% for tag in site.tags %}
            <li data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}">
              <a class="tag {{ tag[0] | slugify: 'pretty' }}" href="/tags/{{ tag[0] | slugify: 'pretty' }}">{{ tag[0] }} <span>({{ tag[1].size }})</span></a>
            </li>
        {% endfor %}
      {% endcapture %}

      {% assign sorted_tags = tags | split:'</li>' | sort | join:'</li>' %}

      {% for tag in sorted_tags %}
        {{ tag }}
      {% endfor %}

    </ul>

  </section>

</div>
