// =======================================
//  Global helpers
// =======================================
.phones-only {
  @include for-tablet-portrait-up {
    display: none;
  };
}
.small {
  font-size: $small;
}
.img-50 {
  max-width: 50%;
}
.img-left {
  margin-left: 0;
}
.white {
  color: #fff;
}
.space-above {
  margin-top: 2em;
}
.left-icon {
  margin-right: 5px;
}
.right-icon {
  margin-left: 5px;
}
.img-bg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: $border;
  background: #f7f8fa;
}
.heading-underline {
  margin-top: 10px;
  margin-bottom: 2rem;
  width: 4rem;
  border-bottom: 3px solid #23272d;
}
.youtube {
  max-width: 900px;
}
.lazy {
  background: #F1F1FA;
  width: 100%;
  height: 450px;
  display: block;
  border: 0;
}
// =======================================
//  Tags
// =======================================
.tag {
  display: inline-block;
  border-radius: 5px;
  padding: 3px 9px;
  background: rgba(100,153,227,0.8);
  color: #fff;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  &:last-child {
    margin-right: 0;
  }
}
.social-mobility {
  color: $dark-grey;
  background: rgba(249,213,106,1);
}
.attainment-gap {
  background: rgba(212,99,148,0.9);
}
.big-issue {
  background: rgba(103,182,112,0.9);
}
.attainment-grouping {
  background: rgba(80,206,214, 0.9);
}
.professional-identity {
  background: rgb(24,44,146);
}
.formative-assessment {
  color: $dark-grey;
  background: rgb(198,245,53);
}
