
.stripe {
  background: $dark-grey;
  color: #9da5b4;
  text-align: center;
  @include for-tablet-landscape-up {
    text-align: left;
  };
  .hero {
    border-top: $border;
    padding: 2rem 0;
    text-align: center;
    @include for-tablet-landscape-up {
      text-align: left;
    };
    p, ul {
      font-size: 16px;
    }
    p {
      margin-bottom: 15px;
      &:nth-child(2) {
        color: #fff;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 1.5em;
        color: #fff;
        i {
          margin-right: 5px;
        }
        a {
          color: #9ea5b3;
          transition: 0.4s ease;
          &:hover {
            text-decoration: underline;
            color: #fff;
          }
        }
      }
    }
  }
}
.archive-list {
  h2 {
    font-size: 22px;
  }
  h3 {
    margin-top: 0;
    line-height: 1.5;
    a {
      color: $dark-grey;
      text-decoration: underline;
      transition: 0.4s ease;
      &:hover {
        color: $accent-color;
      }
    }
    .subheading {

    }
  }
  p {
    font-size: 16px;
    margin-bottom: 0.667em;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $dark-grey;
      text-decoration: underline;
      transition: 0.4s ease;
      &:hover {
        color: $accent-color;
      }
    }
  }
}
