// =======================================
//  Subs page SASS
// =======================================

.reference-list {
  p {
    font-size: 15px;
    margin-left: 30px;
    text-indent: -30px;
  }
}

form {
  margin-bottom: 1rem;
}
#email, .btn-submit {
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 16px;
  &:focus {
    outline: none;
  }
}
#email {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &:disabled {
    color: #9da5b4;
  }
  @include for-tablet-portrait-up {
    min-width: 300px;
  };
}
.btn-submit {
  cursor: pointer;
  background: #28a745;
  border-color: #28a745;
  min-width: 100px;
  color: #fff;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -5px;
  transition: 0.4s ease;
  &:hover {
    background: darken(#28a745, 10%);
  }
  &:disabled {
    cursor: default;
    background: #28a745;
  }
  @include for-tablet-portrait-up {
    min-width: 130px;
  };
}
.error, .success {
  display: none;
}
.error {
  color: #ff3869;
}
.messages {
  padding-top: 0.25rem;
  min-height: 2rem;
  p {
    margin-bottom: 0;
  }
}
