// =======================================
//  Post SASS
// =======================================

article {
  padding-bottom: 1rem;
  h2 {
    font-size: 1.333rem;
    margin-top: 2rem;
  }
  p {
    margin-bottom: 1.5rem;
  }
  .post-meta {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
  }
  .post-header {
    margin-top: 1rem;
    border-top: $border;
    border-bottom: $border;
    padding: 1rem 0;
    @include for-tablet-landscape-up {
      margin-top: 0;
      border-top: none;
      padding-top: 0;
    };
    p {
      margin: 0;
    }
  }
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.suggested-reading {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footnote-ref {
  margin-left: 2px;
  vertical-align: super;
  font-size: smaller;
}
#footnote-list {
  margin-bottom: 0;
}
