// =======================================
//  Post SASS
// =======================================

.post-column {
  padding-top: 20px;
  @include for-tablet-landscape-up {
    padding-top: 80px;
  };
}
.post-meta {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    display: inline-block;
    font-family: 'Courier New', monospace;
    font-size: 14px;
  }
  a {
    color: #000;
    text-decoration: underline;
  }
}
article {
  max-width: 800px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include for-tablet-landscape-up {
    border-right: 1px solid #ccc;
  };
  h2 {
    font-size: 1.333rem;
    margin-top: 2rem;
  }
  p {
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .post-header {
    border-bottom: 1px solid #ccc;
    padding: 2rem 0;
    p {
      margin: 0;
    }
  }
  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.subscribe-nudge {
  margin-top: 2rem;
}
.subscribe-nudge, .suggested-reading {
  border-top: $border;
  padding-top: 2rem;
  padding-bottom: 2rem;
  P:last-child {
    margin-bottom: 0;
  }
}
.footnote-ref {
  margin-left: 2px;
  vertical-align: super;
  font-size: smaller;
}
#footnote-list {
  margin-bottom: 0;
}
